/* Roboto font */
/* TODO: Remove the un-needed font weights */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* .dark-mode is applied on the body tag, and then the color will transition to dark mode.
 * once this class is removed, it will transition to light mode.
 */

:root {
    /* Transition time to transition from light to dark mode and vice-versa */
    --transition-time: 0.5s;
    /* Transition time to transition font-size on window resize */
    --font-transition-time: 0.05s;
    /* Height of the title bar */
    --title-bar-height: 3rem;
    /* Transition time for the mobile menu bar (open-close) */
    --title-bar-menu-transition: 0.2s;
}
  
* {
    /* Default font */
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #2b343a;
    transition: 
        color var(--transition-time), 
        background-color var(--transition-time), 
        font-size var(--font-transition-time) !important;
}

html {
    /* Set a responsive font size */
    font-size: clamp(12px, 1.5vw, 24px);
}

a {
    text-decoration: none;
}

.dark-mode *, .dark-mode {
    /* Set default font color */
    color: whitesmoke;
    /* Set color of the scrollbar (works only in firefox) */
    scrollbar-color: dark;
}

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

body.dark-mode {
    background-color: #18191a;
}

#title, #desc {
    text-align: center;
}

.color-switch img {
    width: 90%;
    height: 90%;
}

/* buttons */

.color-switch {
    height: calc(var(--title-bar-height) - 1em);
    margin: auto 0.75vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;
    border: 0;
    outline: none;
    background-color: #fff;
}

.color-switch:hover {
    background-color: #dbdbdb;
}

.color-switch:active {
    background-color: #aaaaaa;
}

.dark-mode .color-switch {
    background-color: #242526;
}

.dark-mode .color-switch:hover {
    background-color: #363c3f;
}

.dark-mode .color-switch:active {
    background-color: #525b5f;
}

/* Title bar */

.titlebar {
    user-select: none;
    height: var(--title-bar-height);
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.05rem 0.2rem;
}

.dark-mode .titlebar {
    background-color: #242526;
}

.titlebar .name {
    font-weight: 400;
}

.titlebar .name, .titlebar .links .link {
    line-height: var(--title-bar-height);
    padding: 0 1rem 0 1rem;
}

.titlebar .links {
    display: flex;
    margin-left: auto;
}

.main {
    margin-top: var(--title-bar-height);
    padding: 1rem;
}

.tb-click {
    background-color: #fff;
    display: block;
}

.dark-mode .tb-click {
    background-color: #242526;
}

.tb-click:hover {
    color: #2d2f30;
    background-color: #cccccc !important;
}

.dark-mode .tb-click:hover {
    color: #c8c8c8;
    background-color: #1d1e1e !important;
}

.tb-click:active {
    color: #454747;
    background-color: #999999 !important;
}

.dark-mode .tb-click:active {
    color: #8d8c8c;
    background-color: #161617 !important;
}

.tb-menu {
    display: none;
    outline: none;
    border: 0;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    height: var(--title-bar-height);
    align-items: center;
    justify-content: center;
    margin: auto;
}

.tb-menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tb-menu:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.tb-menu img {
    width: 80%;
    height: 80%;
}

@media only screen and (max-width: 450px) {
    .links .link {
        display: none;
        text-align: center;
        width: 100vw;
        overflow: hidden;
    }

    .tb-menu {
        display: flex;
    }

    .titlebar .links {
        position: absolute;
        flex-wrap: wrap;
    }

    .titlebar .name {
        margin-right: auto;
    }

    .color-switch, .titlebar .name {
        z-index: 2;
    }
}

.show-menu {
    display: block !important;
}

/* Animations */

.rotate-animation {
    animation: rotate .5s ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}